@import "../../scss/vars";

.sectionwrapper {
  padding-top: 96px;
}

.sectionname {
  position: relative;
  color: $orange;
  &::before {
    content: "";
    display: block;
    border: 1px solid $orange;
    position: absolute;
    width: 32px;
    top: 50%;
    left: -50px;
  }
}

.sectiotitle {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
  color: $titleColor;
}
