@import "../../scss/vars";

.sectionname {
  position: relative;
  color: $orange;
  &::before {
    content: "";
    display: block;
    border: 1px solid $orange;
    position: absolute;
    width: 32px;
    top: 50%;
    left: -50px;
  }
}

.iconlist {
  list-style: none;
  display: grid;
}

.icon {
  width: 24px;
  height: 24px;
  fill: $colorDarkGrey;
}
