@import "../../scss/vars";

.navbar {
  width: 1200px;
  display: flex;
  gap: 55px;
  justify-content: space-between;
  padding-top: 46px;
}

.logolink {
  display: block;
  flex-grow: 1;
}

.logo {
  width: 115px;
  height: 36px;
  color: red;
  fill: red;
}

.navlist {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.navitem {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  color: $white;
  &:hover {
    background-color: $hovercolor;
    color: $colorDarkGrey;
  }
}

.navarrow {
  display: block;
  padding: 5px;
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
}

.navitem:hover .navarrow * {
  fill: $green;
}

.signup {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  padding: 12px 24px;
  color: #047857;
  background: $hovercolor;
  border-radius: 32px;
  &:hover {
    background-color: $green;
    color: $white;
  }
}
