@import "./scss/vars";
@import "./scss/base";

.background {
  // background-image: radial-gradient(circle at center, #82ffd2 5%, white 45%);
  // background-position: -500px 500px;
  // background-repeat: no-repeat;
}

.App {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(./galary/img/hero1.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
